 ## Formação Cientista de Dados
 ### Limpeza e tratamento de dados

In [2]:
import pandas as pd 
import seaborn as srn 
import statistics as sts

In [3]:
# importar dados 
dataset = pd.read_csv('Churn.csv', sep=';')
# visualizar 
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

In [4]:
# tamanho 
dataset.shape

(999, 12)

In [5]:
# primeiro problema é dar nomes as colunas 
dataset.columns = ['Id','Score','Estado','Genero','Idade','Patrimonio','Saldo','Produtos','TemCartCredito','Ativo','Salario','Saiu']

In [6]:
# visualizar
dataset.head()

,Id,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0

In [ ]:
# explorar dados categoricos
# estado 
agrupado = dataset.groupby(['Estado']).size()
agrupado

In [ ]:
agrupado.plot.bar(color = 'gray')

In [ ]:
# genero 
agrupado =dataset.groupby(['Genero']).size()
agrupado

In [ ]:
# explorar colunas numéricas
# score 
dataset['Score'].describe()

In [ ]:
srn.boxplot(dataset['Score']).set_title('Score')

In [ ]:
srn.distplot(dataset['Score']).set_title('Score')

In [ ]:
# idade 
dataset['Idade'].describe()