 # **Formação Cientista de Dados**
## Limpeza e tratamento de dados

In [1]:
# Importação das Libs
import pandas as pd 
import seaborn as srn 
import statistics as sts

In [2]:
# importar dados 
dataset = pd.read_csv('Churn.csv', sep=';')
# visualizar 
dataset.head()

   X0   X1  X2        X3  X4  X4.1        X6  X7  X8  X9         X10  X11
0   1  619  RS  Feminino  42     2         0   1   1   1  10134888.0    1
1   2  608  SC  Feminino  41     1   8380786   1   0   1  11254258.0    0
2   3  502  RS  Feminino  42     8   1596608   3   1   0  11393157.0    1
3   4  699  RS  Feminino  39     1         0   2   0   0   9382663.0    0
4   5  850  SC  Feminino  43     2  12551082   1   1   1    790841.0    0

In [ ]:
# tamanho 
dataset.shape

In [3]:
# primeiro problema é dar nomes as colunas 
dataset.columns = [
    'Id','Score','Estado','Genero','Idade','Patrimonio','Saldo','Produtos',
    'TemCartCredito','Ativo','Salario','Saiu'
]

In [4]:
# visualizar
dataset.head()

,Id,Score,Estado,Genero,Idade,Patrimonio,Saldo,Produtos,TemCartCredito,Ativo,Salario,Saiu
0,1,619,RS,Feminino,42,2,0,1,1,1,10134888.0,1
1,2,608,SC,Feminino,41,1,8380786,1,0,1,11254258.0,0
2,3,502,RS,Feminino,42,8,1596608,3,1,0,11393157.0,1
3,4,699,RS,Feminino,39,1,0,2,0,0,9382663.0,0
4,5,850,SC,Feminino,43,2,12551082,1,1,1,790841.0,0

In [ ]:
# explorar dados categóricos
# estado 
agrupado = dataset.groupby(['Estado']).size()
agrupado

In [ ]:
# Visualizando o Gráfico
agrupado.plot.bar(color = 'green')

In [ ]:
# gênero 
agrupado =dataset.groupby(['Genero']).size()
agrupado

In [ ]:
# Visualizando o Gráfico de gênero
agrupado.plot.bar(color = 'gray')

In [ ]:
# explorar colunas numéricas
# score 
dataset['Score'].describe()

In [ ]:
# Visualizando o Gráfico
srn.boxplot(dataset['Score']).set_title('Score')

In [ ]:
# Visualizando o Gráfico
srn.distplot(dataset['Score']).set_title('Score')

In [ ]:
# idade 
dataset['Idade'].describe()

In [ ]:
# Visualizando o Boxplot de Idade
srn.boxplot(dataset['Idade']).set_title('Idade')

In [ ]:
# Visualizando o Gráfico de dispersão
srn.distplot(dataset['Idade']).set_title('Idade')

In [ ]:
# Saldo 
dataset['Saldo'].describe()

In [ ]:
#  Visualizando o Boxplot de Saldo
srn.boxplot(dataset['Saldo']).set_title('Saldo')

In [ ]:
# Visualizando o Gráfico de dispersão
srn.distplot(dataset['Saldo']).set_title('Saldo')

In [ ]:
# Salario 
dataset['Salario'].describe()

In [ ]:
# Visualizando o Boxplot de Salario
srn.boxplot(dataset['Salario']).set_title('Salarioa')

In [ ]:
# Visualizando o Gráfico de dispersão
srn.distplot(dataset['Salario']).set_title('Salario')

In [ ]:
# Contamos valores NAN 
# Genero e Salário 
dataset.isnull().sum()

In [ ]:
# salario 
# removendo NAs e substituir pela mediana
dataset['Salario'].describe()

In [ ]:
# Calculando a mediana
mediana = sts.median(dataset['Salario'])
mediana

In [ ]:
#substituir NAN por mediana
dataset['Salario'].fillna(mediana, inplace=True)

In [ ]:
# Verificamos se NAN não existem mais 
dataset['Salario'].isnull().sum()

In [ ]:
# genero, falta de padronização e NAs
agrupado = dataset.groupby(['Genero']).size()
agrupado

In [ ]:
# total de NAs
dataset['Genero'].isnull().sum()

In [ ]:
# preenche NAs com Masculino (Moda)
dataset['Genero'].fillna('Masculino', inplace=True)

In [ ]:
# verificamos novamente NAs
dataset['Genero'].isnull().sum()

In [ ]:
# Padroniza de acordo com o domínio 
dataset.loc[dataset['Genero'] == 'M', 'Genero'] = 'Masculino'
dataset.loc[dataset['Genero'].isin(['Fem','F']), 'Genero'] = 'Feminino'
# Visualizar o resultado
agrupado = dataset.groupby(['Genero']).size()
agrupado

In [ ]:
# Idade fora do domínio
dataset['Idade'].describe()

In [ ]:
# Visualizar
dataset.loc[(dataset['Idade'] < 0) | (dataset['Idade'] > 120)]

In [ ]:
# Calcular a mediana 
mediana = sts.median(dataset['Idade'])  
mediana

In [ ]:
# substituir
dataset.loc[(dataset['Idade'] < 0) | (dataset['Idade'] > 120), 'Idade'] = mediana

In [ ]:
# verificamos se ainda existem idade fora do domínio
dataset.loc[(dataset['Idade'] < 0) | (dataset['Idade'] > 120)]

In [ ]:
# dados duplicados, buscamos pelo ID
dataset[dataset.duplicated(['Id'],keep=False)]

In [ ]:
# Excluído pelo Id 
dataset.drop_duplicates(subset='Id', keep='first', inplace=True)
#buscamos duplicados
dataset[dataset.duplicated(['Id'],keep=False)]

In [ ]:
# estado foram do domínio
agrupado = dataset.groupby(['Estado']).size()
agrupado

In [ ]:
# atribuímos RS (moda)
dataset.loc[dataset['Estado'].isin(['RP','SP','TD']), 'Estado'] = 'RS'
agrupado = dataset.groupby(['Estado']).size()

In [ ]:
# verificamos o resultado
agrupado

In [ ]:
# outliers em salario, vamos considerar 2 desvios padrão
desv = sts.stdev(dataset['Salario'])
desv

In [ ]:
# definir padrão como maior que 2 desvios padrão
# checamos se algum atende critério
dataset.loc[dataset['Salario'] >= 2 * desv]

In [ ]:
# vamos atualizar salários para mediana, calculamos 
mediana = sts.median(dataset['Salario'])
mediana

In [ ]:
# atribuímos
dataset.loc[dataset['Salario'] >= 2 * desv, 'Salario'] = mediana
# checamos se algum atende critério
dataset.loc[dataset['Salario'] >= 2 * desv]

In [ ]:
# Visualizando o DataSet
dataset.head()

In [ ]:
# Verificamos o tamanho
dataset.shape