#### Prática de Amostragem

In [17]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import numpy as np

In [4]:
iris = sns.load_dataset('iris')

In [5]:
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
# Criando uma amostra simple com apenas 10 registros a partir do conjunto de dados
df_sample = iris.sample(n=10)

In [8]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 3 to 20
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   species       10 non-null     object
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [9]:
df_sample

     sepal_length  sepal_width  petal_length  petal_width    species
3             4.6          3.1           1.5          0.2     setosa
140           6.7          3.1           5.6          2.4  virginica
146           6.3          2.5           5.0          1.9  virginica
133           6.3          2.8           5.1          1.5  virginica
37            4.9          3.6           1.4          0.1     setosa
28            5.2          3.4           1.4          0.2     setosa
0             5.1          3.5           1.4          0.2     setosa
105           7.6          3.0           6.6          2.1  virginica
122           7.7          2.8           6.7          2.0  virginica
20            5.4          3.4           1.7          0.2     setosa

In [10]:
# Especificando o tamanho da amostra através da percentual
df_sample = iris.sample(frac=0.10) # 10% da base de dados
df_sample

     sepal_length  sepal_width  petal_length  petal_width     species
147           6.5          3.0           5.2          2.0   virginica
108           6.7          2.5           5.8          1.8   virginica
14            5.8          4.0           1.2          0.2      setosa
119           6.0          2.2           5.0          1.5   virginica
17            5.1          3.5           1.4          0.3      setosa
86            6.7          3.1           4.7          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
45            4.8          3.0           1.4          0.3      setosa
120           6.9          3.2           5.7          2.3   virginica
87            6.3          2.3           4.4          1.3  versicolor
16            5.4          3.9           1.3          0.4      setosa
115           6.4          3.2           5.3          2.3   virginica
84            5.4          3.0           4.5          1.5  versicolor
60            5.0          2.0           3.5          1.0  versicolor

In [11]:
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 147 to 60
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  15 non-null     float64
 1   sepal_width   15 non-null     float64
 2   petal_length  15 non-null     float64
 3   petal_width   15 non-null     float64
 4   species       15 non-null     object
dtypes: float64(4), object(1)
memory usage: 720.0+ bytes

#### Amostragem Aleatória Estratificada

In [13]:
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [14]:
X_train, X_test, y_train, y_test = train_test_split(iris.drop(
                                                                'species', 
                                                                axis=1
                                                            ),
                                                    iris['species'],
                                                    stratify=iris['species'],
                                                    test_size=0.20
)

In [15]:
y_test.shape

(30,)

In [16]:
y_test.value_counts()

virginica     10
setosa        10
versicolor    10
Name: species, dtype: int64

#### Amostragem Sistemática
* Gerando a semente aleatória

In [38]:
semente = np.random.choice(10, 1)

In [39]:
semente

array([9])

##### Gerando índices a partir da semente

In [40]:
indices = np.arange(0,100,semente)

In [41]:
indices

array([ 0,  9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99])

##### Gerando a amostra a parti do índices

In [42]:
amostra = iris.loc[indices,:]

In [43]:
amostra

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
9            4.9          3.1           1.5          0.1      setosa
18           5.7          3.8           1.7          0.3      setosa
27           5.2          3.5           1.5          0.2      setosa
36           5.5          3.5           1.3          0.2      setosa
45           4.8          3.0           1.4          0.3      setosa
54           6.5          2.8           4.6          1.5  versicolor
63           6.1          2.9           4.7          1.4  versicolor
72           6.3          2.5           4.9          1.5  versicolor
81           5.5          2.4           3.7          1.0  versicolor
90           5.5          2.6           4.4          1.2  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [44]:
amostra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12 entries, 0 to 99
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  12 non-null     float64
 1   sepal_width   12 non-null     float64
 2   petal_length  12 non-null     float64
 3   petal_width   12 non-null     float64
 4   species       12 non-null     object
dtypes: float64(4), object(1)
memory usage: 576.0+ bytes