#### Prática de Amostragem
1. Simples 
2. Sistemática
3. Estratificada

In [1]:
# Importação das Libs 
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
import numpy as np

In [2]:
# Importação do DataSet
iris = sns.load_dataset('iris')

In [3]:
# Visualizando o DataSet
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [4]:
# Informação do DataSet
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
# Criando uma amostra simple com apenas 10 registros a partir do conjunto de dados
df_sample = iris.sample(n=10)

In [6]:
# Informação do novo DS
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 69 to 71
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  10 non-null     float64
 1   sepal_width   10 non-null     float64
 2   petal_length  10 non-null     float64
 3   petal_width   10 non-null     float64
 4   species       10 non-null     object
dtypes: float64(4), object(1)
memory usage: 480.0+ bytes

In [7]:
# Visualizando o ds
df_sample

     sepal_length  sepal_width  petal_length  petal_width     species
69            5.6          2.5           3.9          1.1  versicolor
108           6.7          2.5           5.8          1.8   virginica
47            4.6          3.2           1.4          0.2      setosa
102           7.1          3.0           5.9          2.1   virginica
92            5.8          2.6           4.0          1.2  versicolor
77            6.7          3.0           5.0          1.7  versicolor
41            4.5          2.3           1.3          0.3      setosa
147           6.5          3.0           5.2          2.0   virginica
149           5.9          3.0           5.1          1.8   virginica
71            6.1          2.8           4.0          1.3  versicolor

In [8]:
# Especificando o tamanho da amostra através da percentual
df_sample = iris.sample(frac=0.10) # 10% da base de dados
df_sample

     sepal_length  sepal_width  petal_length  petal_width     species
28            5.2          3.4           1.4          0.2      setosa
99            5.7          2.8           4.1          1.3  versicolor
14            5.8          4.0           1.2          0.2      setosa
72            6.3          2.5           4.9          1.5  versicolor
65            6.7          3.1           4.4          1.4  versicolor
139           6.9          3.1           5.4          2.1   virginica
131           7.9          3.8           6.4          2.0   virginica
88            5.6          3.0           4.1          1.3  versicolor
76            6.8          2.8           4.8          1.4  versicolor
136           6.3          3.4           5.6          2.4   virginica
78            6.0          2.9           4.5          1.5  versicolor
107           7.3          2.9           6.3          1.8   virginica
38            4.4          3.0           1.3          0.2      setosa
145           6.7          3.0           5.2          2.3   virginica
97            6.2          2.9           4.3          1.3  versicolor

In [9]:
# Informação do DataSet
df_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15 entries, 28 to 97
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  15 non-null     float64
 1   sepal_width   15 non-null     float64
 2   petal_length  15 non-null     float64
 3   petal_width   15 non-null     float64
 4   species       15 non-null     object
dtypes: float64(4), object(1)
memory usage: 720.0+ bytes

#### Amostragem Aleatória Estratificada

In [10]:
# Contando os valores de registros 
iris['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [11]:
# Dividindo em um conjunto de treino e de teste
X_train, X_test, y_train, y_test = train_test_split(
    iris.drop(
        'species', axis=1
    ),
    iris['species'], stratify=iris['species'], test_size=0.20
)

In [12]:
# Visualizando o tamanho
y_test.shape

(30,)

In [13]:
# Contando os valores
y_test.value_counts()

versicolor    10
virginica     10
setosa        10
Name: species, dtype: int64

#### Amostragem Sistemática
* Gerando a semente aleatória

In [14]:
# Criando uma semente aleatório
semente = np.random.choice(10, 1)

In [15]:
# Visualizando o número
semente

array([4])

##### Gerando índices a partir da semente

In [16]:
# Indices 
indices = np.arange(0,100,semente)

In [17]:
# Visualizando o indices
indices

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64,
       68, 72, 76, 80, 84, 88, 92, 96])

##### Gerando a amostra a parti do índices

In [18]:
# Amostra
amostra = iris.loc[indices,:]

In [19]:
# Visualizando a amostra
amostra

    sepal_length  sepal_width  petal_length  petal_width     species
0            5.1          3.5           1.4          0.2      setosa
4            5.0          3.6           1.4          0.2      setosa
8            4.4          2.9           1.4          0.2      setosa
12           4.8          3.0           1.4          0.1      setosa
16           5.4          3.9           1.3          0.4      setosa
20           5.4          3.4           1.7          0.2      setosa
24           4.8          3.4           1.9          0.2      setosa
28           5.2          3.4           1.4          0.2      setosa
32           5.2          4.1           1.5          0.1      setosa
36           5.5          3.5           1.3          0.2      setosa
40           5.0          3.5           1.3          0.3      setosa
44           5.1          3.8           1.9          0.4      setosa
48           5.3          3.7           1.5          0.2      setosa
52           6.9          3.1           4.9          1.5  versicolor
56           6.3          3.3           4.7          1.6  versicolor
60           5.0          2.0           3.5          1.0  versicolor
64           5.6          2.9           3.6          1.3  versicolor
68           6.2          2.2           4.5          1.5  versicolor
72           6.3          2.5           4.9          1.5  versicolor
76           6.8          2.8           4.8          1.4  versicolor
80           5.5          2.4           3.8          1.1  versicolor
84           5.4          3.0           4.5          1.5  versicolor
88           5.6          3.0           4.1          1.3  versicolor
92           5.8          2.6           4.0          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor

In [20]:
# Visualizando as informação
amostra.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 96
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  25 non-null     float64
 1   sepal_width   25 non-null     float64
 2   petal_length  25 non-null     float64
 3   petal_width   25 non-null     float64
 4   species       25 non-null     object
dtypes: float64(4), object(1)
memory usage: 1.2+ KB